
.SignUp {
    padding-top: 40px;
    margin-top:20px;
    color: rgb(92, 92, 88);
}

.SignUp-Item {
    margin-top: 15px;
}   
.form-group-item{
    display: flex;
    justify-content: start;
    justify-content: space-between;
    text-align: center;
}

.item-Social-network{
    display:block;
}