.scroll-to-top {
    position: fixed; 
    bottom: 12px;
    right: 15px;
    display:block;
    z-index: 2;
 }
 
  button { 
     color:  rgb(195, 204, 176); 
     border:none;
    border-radius: 50rem;
    color :bisque;
    font-size: 18px;
    outline: 0;
    opacity: 1;
 }


 

 